body{
    background-color: rgb(21,21,21);
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Quicksand';
}


.first-bar{
    height: 100rem;
    width: 7%;
    background-color: #595959;
}

.second-bar{
    height: 100rem;
    width: 20%;
    background-color: #151515;
}

.selected-menu-bar{
    background-color: #00CF98;
    height: 2rem;
    margin-right: 5px;
    width: 4px;
}

.instance-profile-selected{
    height: 4.5rem;
    width: 4.5rem;
    background-color: #00CF98;
    border-radius: 100%;
    margin-top: 1rem;
    margin-left: 0.7rem;
    transition: ease-in 0.2s;
}

.instance-profile-selected:hover{
    background-color: rgb(87, 241, 200);
}

.instance-profile{
    height: 4.5rem;
    width: 4.5rem;
    background-color: #c8d3d0;
    border-radius: 100%;
    margin-top: 1rem;
    margin-left: 1.3rem;
    transition: ease-in 0.2s;
}

.instance-profile:hover{
    background-color: rgb(250, 250, 250);
}
.instance-profile-bar{
    height: 4rem;
    width: 0.8rem;
    margin-top: 1.3rem;
    background-color: #00CF98;
}