
.active-indicator{
    background-color: #00cf98;
    height: 20px;
    width: 20px;
    border-radius: 200px;
}

.removeBtn{
    height: 2rem;
    width: 5.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.removeBtn:focus{
    border: none;
    outline: none;
}


.viewBtn{
    height: 2rem;
    width: 5.5rem;
    background-color:#00cf98;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.viewBtn:focus{
    border: none;
    outline: none;
}

.addStockBtn{
    height: 2rem;
    width: 5.5rem;
    background-color:#00cf98;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 14px; 
    margin-left: 1rem;
    margin-top: 0.2rem;
    transition: ease-in-out 0.3s;
}

.addStockBtn:focus{
    outline: none;
    border: none;
}

.addStockBtn:hover{
    outline: none;
    border: none;
    background-color:#3bebbc;
}

.create-btn{
    width: 12rem;
    height: 2.3rem;
    margin-bottom: 1rem;
    background-color: #00CF98;
    color: white;
    border: none;
    border-radius: 2px;
    transition: ease-in 0.2s;
}

.create-btn:focus, textarea:focus, select:focus{
    outline: none;
}

.create-btn:hover{
    background-color: #68ecc9;
}

.close-btn{
    width: 5rem;
    height: 2.3rem;
    margin-bottom: 1rem;
    background-color: #474950;
    color: white;
    border: none;
    border-radius: 2px;
    transition: ease-in 0.2s;
}


.create-btn:focus, textarea:focus, select:focus{
    outline: none;
}

.delete-btn{
    width: 10rem;
    height: 2.2rem;
    margin-bottom: 0rem;
    background-color: #dc392d;
    color: white;
    border: none;
    border-radius: 5px;
    transition: ease-in 0.2s;
    margin-bottom: 0.5rem;
  }
  
.delete-btn:focus, textarea:focus, select:focus{
outline: none;
}

.delete-btn:hover{
border: 2px solid #dc392d;
color: #dc392d;
background-color: #454545;
border: none;
}
